.idea/
*.gz
.settings/
.project
target/
bin/
*.iml
.DS_Store
*.jar
kakarotto.config
data2.arff
data.arff
extralData
perComPerLine
featuresSelection
gen-java/
data/
output/
*.voc
.ipynb_checkpoints/
*.class
